$blue-from: #22d3ee;
$blue-to: #0ea5e9;
$box-width: 100px;
$box-height: 100px;
$spacer-height: 1rem;

.blue {
    background: linear-gradient($blue-from, $blue-to);
    width: $box-width;
    height: $box-height;
    border-radius: 1rem;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.3);
}

.spacer {
    height: $spacer-height;
}
