.container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 1.15rem;
  font-size: 2rem;
  color: rgb(84, 84, 84);
}

.spacer {
  height: 1rem;
}